[Unit]
Description={{ name }}
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/{{ name }}
Environment=SIMPLE_SETTINGS={{ name }}.settings.prod
{% for env_var in extra_env_vars %}
Environment={{ env_var }}={{ lookup('env', env_var) }}
{% endfor %}
ExecStart={{ exec }}
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
